@import "../../../data/styles.css";

.homepage-stack {
	width: 90%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
}

.homepage-stack-content {
	padding: 20px 20px 10px 20px;
}

.homepage-stack-date {
	opacity: 1;
	color: var(--tertiary-color);
	font-size: 12px;
	margin-bottom: 0.5em;
}

.homepage-stack-title {
	opacity: 1;
	color: var(--primary-color);
	font-size: 16px;
	margin-bottom: 0.5em;
	font-weight: 700;
}

.homepage-stack-description {
    opacity: 1;
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 1.5;
}

@media (max-width: 600px) {
	.homepage-article {
		width: 100%;
	}
}
